<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Oppo Fintech App</title>
    <meta charset="en-US">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../vendors/bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/bootstrap-theme.min.css">
    <script src="../vendors/jquery.min.js"></script>
    <script src="../vendors/bootstrap.min.js"></script>
    <link rel="manifest" href="../manifest.json">
    <meta name="theme-color" content="white"/>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/submitMessage.css">

</head>

<body>

    <div class="container-fluid">

        <div class="jumbotron sub_msg">
            <strong> Form submitted successfully </strong>
        </div>

    </div>
    <script src="scripts/main.js"></script>
</body>

</html>