<!DOCTYPE html>
<html lang="en-US">
    <head>

        <meta charset="UTF-8">
        <title> Oppo Fintech App</title>

        <link rel="stylesheet" href="../vendors/bootstrap.min.css">
        <link rel="stylesheet" href="../vendors/bootstrap-theme.min.css">
        <script src="../vendors/jquery.min.js"></script>
        <script src="../vendors/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/form.css">
        <script src="../scripts/fetchFields.js"></script>

    </head>
    <body>

        <div class="container-fluid">

            <div class="jumbotron form-heading">

                <div>    
                    <strong>Demo form for Form Filler application with Google Assistant</strong>
                </div>

                <div>
                    <button type="button" onclick="initiateFetchInterval(3000)" class="GA-btn btn btn-lg btn-primary">ENABLE FILLING WITH ASSISTANT</button>
                </div>

            </div>


        </div>

        <div class='container'>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                    <form method="POST" action="/" >
                        
                        <div class="form-group">
                            <label for="Name"></label>
                            <input type="text" class="form-control" id="Name" placeholder="Name" name="Name">
                        </div>

                        <div class="form-group">
                            <label for="Phone_Number"></label>
                            <input type="text" class="form-control" id="Phone_Number" placeholder="Phone Number" name="Phone_Number">
                        </div>

                        <div class="form-group">
                            <label for="Address"></label>
                            <textarea class="form-control" id="Address" placeholder="Address" rows="3" name="Address"></textarea>
                        </div>

                        <div class="btn-div">
                            <button type="submit" class="sub-btn btn btn-lg btn-success">SUBMIT</button>
                        </div>

                    </form >

                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

            </div>

        </div>

    </body>
</html>